@import "../components/Variables/Variables.scss";
// Base
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: $body-font;
    font-size: $normal-font-size;
    background-color: $body-color;
    color: $text-color;
}
h1, h2, h3{
    color: $title-color;
    font-weight: $font-semi-bold;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.title{
    margin: 4rem 0;
    text-align: center;
}